<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>创新思享汇-2013年度讲师评选</title>
    <!--[if lt IE 9]>
    <script type="text/javascript">location.href='./ie.html';</script>
    <![endif]-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/style.css" type="text/css">
    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/award-ctrl.js"></script>
    <script src="//10.2.25.187:35729/livereload.js"></script>
</head>
<body ng-app="app" id="ng-app">
<div class="container" style="padding: 0;">
    <img style="width: 100%" src="http://vote4share.u.qiniudn.com/banner.jpg">
</div>
<div class="container"> 
    <div class="row" ng-controller="AwardCtrl">
        <div style="height: 30px;"></div>

        <ul class="nav nav-tabs">
            <li ng-repeat="a in awards"><a data-toggle="tab" href="#award-{{a.type}}">{{a.desc}}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" ng-repeat="a in awards" id="award-{{a.type}}">

<div class="row">
    <ul class="list-unstyled">
        <li class="li-share col-md-6" ng-repeat="p in a.persons" id="share{{p.id}}" count-share="">
            <div class="col-md-5 img" data-toggle="modal" data-target="#person-{{p.id}}"><i></i>
                <img class="img-rounded" ng-src="{{p.img}}?imageView/1/h/190/w/190/format/png" alt="{{p.name}}">
            </div>
            <div class="col-md-7 share">
                <div class="photo_grid_author">{{p.name}}</div>
                <div class="photo_grid_author">一级部门： {{p.dep1}}</div>
                <div class="photo_grid_author">二级部门 {{p.dep2}}</div>
                <div class="voteBar">得票： {{p.votes}}</div>
                <div class="voteBar2"><a ng-click="vote(p)" href="">
                    <img src="/resources/votebutton.gif" width="77"
                     height="22" id="vbut{{p.id}}" name="vbut{{p.id}}"></a>
                </div>
            </div>
            <div class="modal fade" id="person-{{p.id}}" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {{p.details}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

            </div>
        </div>
            <div class="col-md-12"> </div>
            <div class="blank10"></div>
            <div class="blank10"></div>
        </div>
    </div>
    <!-- end contentC -->
</div>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    angular.element(document).ready(function() {
        $('.nav-tabs a:first').tab('show');
    })
</script>
</body>
</html>